<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My suite">
	<listeners>
		<listener class-name="listener.TestsListenerAdapter" />
	</listeners>
	<suite-files>
		<suite-file path="./IAM.xml" />
		<suite-file path="./Search.xml" />
		<suite-file path="./Authoring.xml" />
		<suite-file path="./Profile.xml" />
		<suite-file path="./Watchlist.xml" />
		<suite-file path="./Notifications.xml" />
		<suite-file path="./ENW.xml" />
		<suite-file path="./ENWIAM.xml" />
		<!-- <suite-file path="./RCC.xml" /> --> <!--  Commenting as suggested by Stephanie (Email bounce back issue) -->
		<suite-file path="./DRAIAM.xml" />
		<!-- <suite-file path="./IPA.xml" /> --> <!--  Commenting Dev and QA Activites has been stopped -->
		<suite-file path="./IPAIAM.xml" />
		<suite-file path="./customercare.xml" />
	</suite-files>
</suite>
